<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" placeholder="firstname *" value="" name="firstname"><br><br>
        <input type="text" placeholder="lastname *" value="" name="lastname"><br><br>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female<br><br>

        <input type="email" placeholder="email *" value="" name="email"><br><br>
        <input type="text" placeholder="phn no. *" value="" name="phone"><br><br>
        <input type="text" placeholder="password *" value="" name="password"><br><br>
        <input type="text" placeholder="confirm password *" value="" name="confirmpassword"><br><br><br>

        <input type="submit" value="register">
    </form>
</body>
</html>